.user-posts-wrapper
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;

    margin-top: 10px;

    border-color: rgb(106, 106, 107);
}

.user-post
{
    padding-left: 1%;   
    
    border-top-style: solid;
    border-top-width: 1px;    
    border-color: rgb(106, 106, 107);
}

.user-post:hover
{
    background-color: rgba(168, 206, 255, 0.24);
}

.post-author-username
{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: black;
}

.post-author-username:hover
{
    color: black;
    text-decoration: underline;
}

.post-date
{
    text-decoration: none;
    color: black;
}

.post-date:hover
{
    color: black;
    text-decoration: underline;
}

.post-message
{
    width: 98%;
    resize: none;
    overflow: hidden;
}