.make-new-post-wrapper
{
    padding-bottom: 5px;
}

.username
{
    margin-left: 1%;
}

.new-post-message
{
    padding-left: 10px;
    padding-right: 10px;
    width: 97%;
    margin-left: 1%;
    border-radius: 15px;
    resize: none;
}

.make-new-post-button
{
    margin-top: 5px;
    margin-left: 1%;
    border-radius: 15px;
}