.page-wrapper
{
    border-left-style: solid;
    border-left-width: 1px;

    border-right-style: solid;
    border-right-width: 1px;

    border-top-style: solid;
    border-top-width: 1px;

    border-radius: 10px;

    margin-top: 10px;

    border-color: rgb(106, 106, 107);

    margin-left: 30%;
    margin-bottom: 0;
    width: 40%;
}

.base-post-wrapper
{
    padding-left: 1%;    
}

.base-post-author-username
{

}

.base-post-post-date
{

}

.base-post-message
{
    width: 98%;
    resize: none;
    overflow: hidden;
}

.like-count:hover
{
    cursor: pointer;
}

.separator
{
    text-align: center;

    padding-left: 1%;

    border-top-style: dashed;
    border-top-color: black;
    border-top-width: 1px;

    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: 1px;

    border-color: rgb(106, 106, 107);
}

.comments-wrapper
{
    
}

.comment
{
    padding-left: 1%;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(106, 106, 107);
}

.comment:hover
{
    background-color: rgba(168, 206, 255, 0.24);
}

.comment-author-username
{

}

.comment-post-date
{

}

.comment-message
{
    width: 98%;
    resize: none;
    overflow: hidden;
}

.make-new-comment
{
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 10px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border-color: rgb(106, 106, 107);
}

.make-new-comment:hover
{
    background-color: rgba(168, 206, 255, 0.24);
}

.new-comment-message
{
    width: 98%;
    resize: none;
    overflow: hidden;
}

.make-new-comment-button
{
    border-radius: 20px;
    padding-block: 5px;
    padding-inline: 15px;
    background-color: rgb(24, 78, 255);
    color: white;
    border: 0;
}