.username-info
{
    background-color: rgb(245, 245, 255);
}

.username-header
{    
    padding-left: 10px;
    display: flex;
    justify-self: left;
}

.username
{

}

.posts-count
{
    font-size: small;
    color: gray;
}

.followings-followers-wrapper
{
    padding-left: 10px;
    display: flex;
    justify-self: left;
}

.followings-wrapper
{
    font-size: small;
}

.followings-wrapper:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.followers-wrapper
{
    font-size: small;
    padding-left: 20px;
}

.followers-wrapper:hover
{
    text-decoration: underline;
    cursor: pointer;
}